* {
    box-sizing: border-box;
  
  }

  :root {
    --hover: #fff;
    --typo: #919191;
    --background: #232323;
    --border: #4e4e52;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--background);

  }

    h1 {

        font-size: 4rem;
      }
      

      
      p {
        margin-bottom: 2rem;
      }
    

  header {
    width: 96%;
    padding: 40px;
    text-align: center;
    background: var(--background);
    color: var(--typo);
    margin: 0 auto;
    padding: 2.5rem;

  }
      
  header h1 .title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
  }

  header p{
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: #fff;
  }
      
  main {
width: 96%;
margin: 2rem auto;
display:flex;
flex-wrap: wrap;
}

  footer {
margin: 1.5rem;
text-align: center;
color:#00ff6c;
font-size: 1.5rem;
}


  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    background-color: var(--background);
  }

  .row h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 2.5rem;
  }

  .column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }
  
  .code  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color:var(--typo) ;
    outline: 4px solid var(--border);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
    border-radius: 4%;
    font-size: 1.5rem;
  }

  code{
      font-size: 1.75rem;
      text-align-last: left;
  }


  .code .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--background);
    color: var(--typo);
    border: 4px solid var(--border);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }

  .card-header {
    position: relative;
    margin-top: -20px;
  
}

.code:hover,
.code:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--hover), 0 0 15px var(--hover);
}

.code .code-block {
    flex-grow: 1;
    
  }

  


.code-card pre:active {
    user-select: all;
  }

.code pre {
    white-space: pre-wrap;
    overflow: auto;
    padding: 1.2rem 1rem;
    color: burlywood;
    border-radius: 8px;
    background-image: linear-gradient( var(--background) 0%, var(--typo) 100% );
    display: flex;
    
  }



  @media screen and (min-width: 768px) {
    
    .card {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
   
}
  
 
  @media screen and (min-width: 992px) {
    header {
      width: 100%;
    }
  
    .column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }


 

